@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
*{
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.page-banner h2 {
  font-weight: 500;
  text-transform: uppercase;
}
h2{
  font-size: 22px;
  line-height: 28px;
  color: #444;
}
.page-banner p {
  font-weight: 400;
}
p {
  color: #666;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  margin: 0;
}

.btn-container.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.btn-container.remove {
  opacity: 0;
  transform: translateY(-80px);
}
