
.icon {
    transition: transform 0.6s ease, background-color 0.6s ease, color 0.6s ease;
  }
 
  
  
  
  
  .hover-img:hover .icon-overlay {
    opacity: 1;
  }
  
  
  
  .hover-img:hover .icon:first-child {
    transform: translateX(55px) translateY(-50px); 
  }
  
  .hover-img:hover .icon:last-child {
    transform: translateX(-55px) translateY(-50px); 
  }
  
 
  
  

  
  
  .image-container:hover .dataline-content {
    transform: translate(-50%, 0); 
    opacity: 1; 
  }
  
  .image-container .dataline-content {
    transform: translate(-50%, 100%); 
    opacity: 0;
  }